* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
}
body,
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #fff;
  color: #333;
}

button,
input {
  padding: 10px 15px;
}

input {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
