* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* box-shadow: 0 0px 20px 5px #dddddd; */
  border-bottom: 0.2px solid #ccc;
}

#content {
  margin-top: 100px;
  padding: 10px 15px;
}

#menu {
  height: 60px;
  background-color: #5dc2a7;
  display: flex;
  justify-content: space-between;
}

#menu #tekyicon {
  width: 40%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

#menu #tekyicon a {
  color: white;
  margin-left: 40px;
}

#menu ul {
  list-style: none;
  display: flex;
  width: 60%;
  /* background-color: red; */
  justify-content: space-around;
  align-items: center;
}

#menu ul li {
  flex-grow: 1;
  height: 100%;
}

#menu ul li a {
  font-size: 18px;
  text-transform: capitalize;
  transition: all 0.2s;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* border-left: 1px dashed black;
  border-bottom: 1px dashed black; */
  /* border-right: 0.5px solid black; */
  color: black;

  &:hover {
    color: white;
    background-color: #2ea1ff;
  }
}

#content * {
  font-weight: lighter;
}

#content p {
  margin-top: 10px;
  letter-spacing: 2px;
  line-height: 25px;
}
